* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #FFF;
  font-family: 'Helvetica', sans-serif;
}

body {
  padding: 40px;
}

#lane {
  width: 100%;
}

#lane .brick {
  width: 25%;
  padding: 10px;
}

#lane .brick > div {
  background-color: #EEE;
  padding: 15px 20px;
  font-size: 12px;
}